header 
        height 100px
        background rgb(254,148,48)
        background linear-gradient(to right, #efb558 0%,#f45c1a 100%)
        display flex
        justify-content center
        align-items flex-end
        h1 
            color white
            font-weight 400
            font-size 1.4rem 
            padding-bottom 20px
            width 100%
            text-align center
            position relative
            .close, .back 
                position absolute
                left 10px
                display none

@media screen and (min-width: 450px) 
    header 
        display none 