.select-ticket
    display none
    table 
        width 100%
        tr   
            .item 
                width 75%
                display flex
                padding 20px
                img 
                    display block 
                p 
                    font-size .7rem
                    margin-left 20px
            .number
                width 25%
                padding 10px
                .add-remove
                    display block 
                    text-align center
                    .remove, .more 
                        display inline-block
                        width 20px 
                        height 20px
                        line-height 20px
                        border 1px solid rgb(144, 144, 144)
                        border-radius 50%
                        color rgb(144, 144, 144)
                        text-align center
                    .more 
                        background-color #ec3828
                        color white
                        border none
                        text-align center
                    .nbr 
                        padding 0 10px
                .price
                    display block 
                    text-align center
                    background-color silver
                    padding 2px
                    margin 2px
    .basket-tickets 
        position absolute 
        bottom 0 
        width 100% 
        border-top 1px solid silver
        padding 20px
        p 
            text-align right 
            width 75%
            padding-right 20px
        button 
            width 80%
            margin auto
            margin-top 30px
            padding 15px 
            background-color #ec3828;
            display block 
            border none 
            border-radius 10px 
            color white
            font-size 1.2rem