.without-title 
    //display none
    h2,p 
        text-align center 
    h2 
        font-weight 500
        padding 20px
        margin-top 130px 
    p 
        font-size 1.2rem
        padding 10px 
    button 
        width 80%
        margin auto
        margin-top 30px
        padding 15px 
        background-color #ec3828;
        display block 
        border none 
        border-radius 10px 
        color white
        font-size 1.2rem