.accept-condition
    display none
    .total 
        width 80%
        font-size: 1.4rem
        font-weight 600
        padding 30px 10px 10px
        border-bottom 1px dashed silver
    .condition
        display block 
        margin-top 100px
        padding 8px
        input[type="checkbox"]
            display inline-block
            margin-right 10px
    button 
        width 80%
        margin auto
        margin-top 30px
        padding 15px 
        background-color rgba(236, 56, 40, 0.6);
        display block 
        border none 
        border-radius 10px 
        color white
        font-size 1.2rem
        position absolute
        bottom 20px
        left 10%
        .checked 
            background-color rgb(236, 56, 40);